.product-search-page {
  padding: 2rem;
  @include flex(row, flex-start, stretch, 2rem);
  min-height: calc(100vh - 6.5vh);
  > aside {
    min-width: 20rem;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.247);
    padding: 2rem;
    @include flex(column, flex-start, stretch, 0.5rem);
    > h2 {
      @include heading;
    }

    > div {
      > input,
      > select {
        @include inputStyle(
          100%,
          1rem,
          white,
          1px solid rgba(154, 154, 154, 0.38)
        );
        border-radius: 10px;
        margin: 0.5rem;
      }
    }
  }

 > main{
    width: 100%;
    padding: 0 2rem;
    > h1{
        @include heading;
    }
    >input {
        @include inputStyle(50%);
        border-radius: 5px;
        margin:1rem;
        font-size: 1.2rem;
        display: block;
    }
   .search-product-list{
    @include flex(row,flex-start,flex-start);
    flex-wrap: wrap;
    height: calc(100% - 10rem);
    overflow-y: auto;
   }

   .product-card {
    width: 18.75rem;
    height: 25rem;
    padding: 1rem;
    flex:none;
    @include flex(column, flex-start, center, 4px);
    position: relative;
    background-color: white;

    &:hover > div {
        opacity: 1;
      }
  
 
  img {
    @include square(calc(18.75rem - 3rem));
    object-fit: cover;
    margin: 1rem;
  }


  span {
    font-weight: 700;
    font-size: 1.1rem;
  }

  > div {
    opacity: 0;
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    background-color: #0000006b;
    @include flex;
    button{
        @include flex;
        @include square(3rem);
        border-radius: 100%;
        border: none;
        background-color: rgb(0, 104, 136);
        cursor: pointer;
        color: white;
        font-size: 1.1rem;
        transition: all 0.3s;
        &:hover{
            rotate: 20deg;
        }
    }
   }
  }

    article{
        @include flex;
        > button{
            @include flex;
            @include btn(0.5rem 1rem, rgb(0, 104, 136), white );
            border-radius: 10px;
            &:disabled{
                cursor: not-allowed;
                opacity: 0.5;
                color:  rgb(46, 46, 46);
            }
        }
    }

}
}
