.shipping {
  @include flex;

  .back-btn {
    @include square(2.5rem);
    background-color: rgb(46, 46, 46);
    color: white;
    @include flex;
    position: fixed;
    top: 2rem;
    left: 2rem;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    @include baseShadow;

    svg {
      transition: all 0.3s;
    }

    &:hover svg {
      translate: -0.25rem;
    }
  }

  > form {
    max-width: 450px;
    width: 100%;
    @include flex(column, center, stretch, 2rem);
    padding: 2rem;
    > h1 {
      @include heading(2px);
      margin: 2rem;
      text-align: center;
    }
    > input,
    > select {
      @include inputStyle;
      border:1px solid rgba(31, 31, 31, 0.351);
      font-size: 1.05rem;
      border-radius: 5px;
    }
    >button{
        padding: 1rem;
        @include btn(1rem,rgb(0, 104, 136),white);
        border-radius: 5px;
        font-size: 1.05rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        &:hover{
            opacity: 0.8;
        }
    }
  }
}
